Beaker==1.6.4
Flask==0.10.1
Jinja2==2.7.2
Mako==0.9.1
MarkupSafe==0.23
Pillow==2.4.0
Pmw==2.0.0
PyYAML==3.11
Werkzeug==0.9.4
boto==2.29.1
dnet==1.12
gensim==0.10.0
gufw==14.04.1
iotop==0.6
ipython==2.0.0
itsdangerous==0.24
matplotlib==1.3.1
mercurial==3.0
mutagen==1.23
netifaces==0.10.4
nltk==3.0a4
numpy==1.8.1
oauthlib==0.6.1
oblogout==0.2
pandas==0.13.0
pexpect==3.2
pyenchant==1.6.6
pygobject==3.12.2
pyparsing==2.0.2
pysane==2.0
python-dateutil==2.2
python-distutils-extra==2.38
python-musicbrainz==2.1.5
pytz==2014.3
pyxdg==0.25
requests==2.1.0
requests-oauthlib==0.4.0
scikit-learn==0.14.1
scipy==0.14.0
seaborn==0.3.1
six==1.7.3
twython==3.1.2
ufw==0.33
wsgiref==0.1.2
